//////////////////////////////////////////////////////////

// ********************* BASE ************************* //

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

.light-text{
    color: $grayish-blue;
    line-height: 25px;
}

ul{
    padding: 0;
    list-style: none;
}

