//////////////////////////////////////////////////////////

// ******************* BOTTONS ************************ //

.btn{
    text-transform: capitalize;
    display: inline-block;
    color: $white;
    background-image: linear-gradient(to right, $lime-green, $bright-cyan);
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    text-align: center;
    transition: .5s ease-in-out;

    &:hover{
        opacity: 0.7;
    }
}