//////////////////////////////////////////////////////////

// ********************* HEADER ************************ //
.main-header{
    background-color: $white;
}
.main-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    overflow: hidden;
    z-index: 5;
    position: relative;
    background-color: $white;
}