
.home{
    display: flex;
    justify-content: space-between;
    min-height: 120vh;
    padding-left: 10%;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
   
    h2{
        color: $dark-blue;
    }

    .home-text{
        padding: 8rem 0;
        width: 58%;
    }
}

.home-img{
    position: relative;
    flex-basis: 100%;
    .home-img-1{
        position: absolute;
        z-index: -1;
        top: -12rem;
        right: -14rem;
        width: 72vw;
    }

    .home-img-2{
        position: absolute;
        z-index: 3;
        top: -7.5rem;
        right: -7rem;
        width: 50vw;
    }
}
.home-img-mobile{
    display: none;
}

.home-darken{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, $dark-blue, $light-grayish-blue);
    z-index: 4;
}