.main{
    background-color: $light-grayish-blue;
    margin-top: -16rem;
    width: 100%;
    padding: 7rem 0 4rem 0;
    h2{
        color: $dark-blue;
    }

    .top-main{
        width: 55%;
    }
}