@media (max-width: 600px) {
    .container{
        width: 90%;
    }

    .main-header{
        .nav-desktop, .btn{
            display: none;
        }
    }

    .nav-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-display{
        display: block;
    }

    .home{
        flex-direction: column;
        min-height: none;
        padding-left: 0;
        text-align: center;
        .home-text{
            width: 80%;
            margin: auto;
            margin-top: -2rem;
            .heading-lg{
                font-size: 2.2rem;
            }
        }
    }

    .home-img{
        display: none;
    }
    .home-img-mobile{
        display: block;
        position: relative;
        overflow: hidden;
        .home-img-mobile-2{
            position: absolute;
            top: -9.5rem;
            left: 0;
        }
        .home-img-mobile-1{
            margin-top: -4.5rem;
            
        }

    }


    .main{
        margin-top: 3rem;
        h2{
            width: 80%;
            margin: auto;
            margin-bottom: 1rem;
        }
        text-align: center;
        .top-main{
            width: 100%;
        }
    }

    .services{
        grid-template-columns: repeat(1, 1fr);
        .light-text{
            font-size: 0.9rem;
        }
        
        .service{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 0;
        }
    }
    .latest{
        h2{
            text-align: center;
            padding: 0;
        }
    }
    .latest-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .latest-item{
        width: 90%;
    }

    .footer{
        .container{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .logo-icon{
        margin-bottom: 2rem;
        .logo{
            width: 10rem;
            margin-bottom: 1rem;
        }
    }

    .btn-footnote{
        text-align: center;
    }

    .list-1, .list-2{
        li{
            padding-bottom: 1rem;
        }
    }



}