.nav-desktop{
    a{
        padding: 0 1rem;
        text-transform: capitalize;
        color: $grayish-blue;
        position: relative;

        &:hover{
            &::after{
                content: "";
                position: absolute;
                bottom: -2rem;
                left: 50%;
                transform: translateX(-50%);
                width: 60%;
                height: 3px;
                background-color: $lime-green;
                transition: 0.5s ease-in-out;
            }
        }
    }
}

.nav-mobile{
    display: none;
    position: absolute;
    top: -50rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    width: 90%;
    padding: 2rem 0;
    z-index: 2;
    border-radius: 0.6rem;
    text-transform: capitalize;
    color: $dark-blue;
    font-weight: 600;
    font-size: 1.2rem;
    transition: .5s ease-in-out;
    a{
        transition: .5s ease-in-out;
    }
    a:hover{
        color: $lime-green;
    }
    a:not(:last-child){
        margin-bottom: 1.5rem;
    }
}

.nav-open, .nav-close{
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    z-index: 6;
    display: none;
    cursor: pointer;
}

.nav-display{
    display: none;
}
.nav-down{
    top:5rem;
    transition: .5s ease-in-out;
}